body{
    align-items: center;
}
  
h1{
    text-align: center;
    font-style: bold;
    padding-bottom: 5%;
    font-family: 'Brush Script MT', cursive;
}
.btn{
    background-color:rgb(255, 174, 0);
    padding-top: 10px;
    width:150px;
    padding-bottom: 10px;
}
.logout{
    padding-top: 5%;
}
.btn :hover{
    background-color: white;
}
.container{
    position: relative;
}
label{
    padding-bottom: 20px;
}
#name,#email,#password,#amt,#des,#cat{
    width: 300px;
    position: absolute;
    left: 250px;
}
h5{
    color:green;
}
.lb{
    color: black;
}
.lbtn{
    background-color: rgb(212, 79, 79);
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
}
.lbh{
    color: brown;
    
}
#ldbrd{
    background-color: rgb(255, 255, 255,0.4);
    padding: 2%;
    width: 25%;
}
body{
    background-color: rgb(233, 228, 159);
}
#users{
    margin-top: 2%;
}
.premium{
    float: right;
    width: auto;
}
h4{
    color:red;
}
.edit{
    background-color: rgb(47, 47, 241);
    color: azure;
}
.delete{
    background-color: rgb(241, 47, 47);
    color: azure;
    
}
